.card .container {
  width: 505px;
  height: 594px;
  margin-top: 96px;
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .container h1 {
  margin-top: 48px;
  color: var(--Text, #232536);
  /* H3 Heading */
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 150% */
}
.card .container h2 {
  color: var(--Text, #232536);
  /* Paragraph Small */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  margin-bottom: 24px;
}
.card .container p {
  color: #232536;
  text-align: center;
  width: 505px;
  /* Paragraph */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 32px;
}
.card .container ul {
  display: flex;
  gap: 27px;
}

#blog {
  width: 100%;
  background: #ecf8f9;
}
#blog .container .blogs {
  padding-top: 115px;
  padding-bottom: 96px;
}
#blog .container .blogs h1 {
  color: #232536;
  margin-bottom: 48px;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  /* 120.833% */
}
#blog .container .blogs .cards {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
#blog .container .blogs .cards .card {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  background: #fff;
  width: 624px;
  height: 248px;
  flex-shrink: 0;
}
#blog .container .blogs .cards .card img {
  width: 296px;
  height: 248px;
  flex-shrink: 0;
}
#blog .container .blogs .cards .card .cardtext {
  margin-top: 32px;
}
#blog .container .blogs .cards .card .cardtext h5 {
  color: #232536;
  /* Paragraph Small */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  margin-bottom: 8px;
}
#blog .container .blogs .cards .card .cardtext h1 {
  color: #232536;
  /* H4 Heading */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  /* 150% */
}
#blog .container .blogs .cards .card .cardtext a img {
  width: 20px;
  height: 10px;
  flex-shrink: 0;
}

#cta .container {
  margin-bottom: 96px;
}
#cta .container .boxex {
  display: flex;
  align-items: center;
  background: var(--secondary-blue, #666dff);
  width: 1280px;
  height: 333px;
  margin-top: 96px;
  padding-left: 96px;
}
#cta .container .boxex .firstBox {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#cta .container .boxex .firstBox p {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
#cta .container .boxex .firstBox h3 {
  color: #fff;
  width: 488px;
  /* H3 Heading */
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  /* 150% */
}
#cta .container .boxex .twiceBox {
  display: flex;
  align-items: center;
  width: 50%;
}
#cta .container .boxex .twiceBox input {
  width: 454px;
  height: 64px;
  flex-shrink: 0;
  background: #fff;
  padding: 20px 262px 20px 29px;
}

footer {
  width: 100%;
}
footer .container .footer--box {
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
}
footer .container .footer--box .footbox1 img {
  width: 36.72px;
  height: 34px;
  flex-shrink: 0;
}
footer .container .footer--box .footbox1 h2 {
  color: #232536;
  margin-bottom: 40px;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  /* 120.833% */
}
footer .container .footer--box .footbox1 h4 {
  color: #232536;
  margin-bottom: 28px;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  /* 150% */
}
footer .container .footer--box .footbox1 p {
  margin-bottom: 30px;
  color: #232536;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 155.556% */
}
footer .container .footer--box .footbox2 {
  margin-left: 100px;
  margin-top: 50px;
  margin-right: 50px;
}
footer .container .footer--box .footbox2 ul {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
footer .container .footer--box .footbox2 ul li a {
  color: #232536;
  /* H6 Heading */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 175% */
}
footer .container .footer--box .footbox3 {
  margin-left: 95px;
  margin-top: 50px;
}
footer .container .footer--box .footbox3 ul {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
footer .container .footer--box .footbox3 ul li a {
  color: #232536;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
}

.finish {
  width: 100%;
  height: 80px;
  background: #FFE6D2;
}
.finish .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 28px;
}
.finish .container .text-end {
  display: flex;
  align-items: center;
  justify-content: center;
}
.finish .container .text-end img {
  width: 120px;
  height: 24.304px;
}
.finish .container .text-end span {
  width: 120px;
  height: 24.304px;
}
.finish .container .iconend {
  display: flex;
  gap: 26px;
  margin-right: 20px;
}
.finish .container .iconend img {
  width: 16px;
  height: 16px;
}/*# sourceMappingURL=style.css.map */