.one .container {
  margin-top: 96px;
}
.one .container .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.one .container .top .kubik {
  width: 24px;
  height: 24px;
  background: #FFD3AF;
}
.one .container h1 {
  color: #232536;
  width: 729px;
  /* H2 Heading */
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px; /* 120.833% */
  margin-top: 24px;
  margin-bottom: 24px;
}
.one .container p {
  color: #232536;
  width: 719px;
  /* Paragraph */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 24px;
}
.one .container p {
  display: flex;
  align-items: center;
  gap: 3px;
}
.one .container p img {
  width: 32px;
  height: 32px;
}
.one .container p span:first-child {
  color: #232536;
  /* Paragraph */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border-right: rgba(0, 0, 0, 0.2);
}
.one .container p span:last-child {
  color: #232536;
  /* Paragraph */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  opacity: 0.6;
}

.two .container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.two .container img {
  margin-bottom: 96px;
}
.two .container h1 {
  color: #232536;
  width: 842px;
  /* H3 Heading */
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 150% */
  margin-bottom: 24px;
}
.two .container p {
  color: #232536;
  width: 836px;
  /* Paragraph */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 24px;
}
.two .container h2 {
  color: #232536;
  /* H4 Heading */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
  margin-top: 40px;
  margin-bottom: 24px;
}
.two .container h3 {
  color: #232536;
  /* H4 Heading */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
  margin-top: 40px;
  margin-bottom: 24px;
}

#cta .container {
  margin-bottom: 96px;
}
#cta .container .boxex {
  display: flex;
  align-items: center;
  background: var(--secondary-blue, #666dff);
  width: 1280px;
  height: 333px;
  margin-top: 96px;
  padding-left: 96px;
}
#cta .container .boxex .firstBox {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#cta .container .boxex .firstBox p {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
#cta .container .boxex .firstBox h3 {
  color: #fff;
  width: 488px;
  /* H3 Heading */
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  /* 150% */
}
#cta .container .boxex .twiceBox {
  display: flex;
  align-items: center;
  width: 50%;
}
#cta .container .boxex .twiceBox input {
  width: 454px;
  height: 64px;
  flex-shrink: 0;
  background: #fff;
  padding: 20px 262px 20px 29px;
}

footer {
  width: 100%;
}
footer .container .footer--box {
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
}
footer .container .footer--box .footbox1 img {
  width: 36.72px;
  height: 34px;
  flex-shrink: 0;
}
footer .container .footer--box .footbox1 h2 {
  color: #232536;
  margin-bottom: 40px;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  /* 120.833% */
}
footer .container .footer--box .footbox1 h4 {
  color: #232536;
  margin-bottom: 28px;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  /* 150% */
}
footer .container .footer--box .footbox1 p {
  margin-bottom: 30px;
  color: #232536;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 155.556% */
}
footer .container .footer--box .footbox2 {
  margin-left: 100px;
  margin-top: 50px;
  margin-right: 50px;
}
footer .container .footer--box .footbox2 ul {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
footer .container .footer--box .footbox2 ul li a {
  color: #232536;
  /* H6 Heading */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 175% */
}
footer .container .footer--box .footbox3 {
  margin-left: 95px;
  margin-top: 50px;
}
footer .container .footer--box .footbox3 ul {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
footer .container .footer--box .footbox3 ul li a {
  color: #232536;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
}

.finish {
  width: 100%;
  height: 80px;
  background: #FFE6D2;
}
.finish .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 28px;
}
.finish .container .text-end {
  display: flex;
  align-items: center;
  justify-content: center;
}
.finish .container .text-end img {
  width: 120px;
  height: 24.304px;
}
.finish .container .text-end span {
  width: 120px;
  height: 24.304px;
}
.finish .container .iconend {
  display: flex;
  gap: 26px;
  margin-right: 20px;
}
.finish .container .iconend img {
  width: 16px;
  height: 16px;
}/*# sourceMappingURL=style.css.map */